@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

h1 {
  font-size: 2em;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(65, 128, 223, 0.589);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.4em;
  margin-bottom: 40px;
  font-weight: 600;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.form {
  max-width: 1000px;
  margin: 0 auto;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.158);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.158);
  padding: 50px;
  margin-bottom: 50px;
}

.form > span {
  color: rgba(0, 0, 255, 0.808);
  text-align: right;
  display: block;
}

.form__contact {
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  border: 1px solid #d9d9d9;
  padding: 0px 20px 30px;
  background-color: rgba(240, 236, 236, 0.329);
  -webkit-box-shadow: 0 5px 10px rgba(129, 129, 255, 0.082);
          box-shadow: 0 5px 10px rgba(129, 129, 255, 0.082);
  border-radius: 10px;
}

.form__contact h3 {
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
  padding-top: 15px;
}

.form__contact .block-input > label:nth-child(1) {
  min-width: 20%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form__contact .block-input > label:nth-child(3) {
  min-width: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__contact .block-sel > label:nth-child(1) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-width: 20%;
}

.form__items .form__item .block-input > label:nth-child(1) {
  min-width: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.form__items .form__item .block-sel > label:nth-child(1) {
  min-width: 250px;
}

.form__items .form__item .block-mix > label:nth-child(1) {
  min-width: 250px;
  min-height: 25px;
}

.block-colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.form__items .form__item .block-radio > label:nth-child(1) {
  min-width: 250px;
}

.form__items .form__item .block-row > label:nth-child(1) {
  min-width: 250px;
}

.form__items .form__item:nth-child(8) .block-check label {
  min-width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-input .label span {
  font-size: 1.5em;
}

.input-money {
  max-width: 200px;
}

input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  display: none;
}

input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  display: none;
}

.block-check label {
  position: relative;
}

.block-wireless label {
  position: relative;
}

.block-wireless label span {
  min-width: 25px;
  min-height: 25px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  position: relative;
  cursor: pointer;
  display: block;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.103);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.103);
}

.block-check label span {
  min-width: 25px;
  min-height: 25px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  position: relative;
  cursor: pointer;
  display: block;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.103);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.103);
}

label span svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

input[type=checkbox]:checked + label span {
  background: rgb(65, 128, 223);
  border: 0px solid #d9d9d9;
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.103);
          box-shadow: 0 0 0px rgba(0, 0, 0, 0.103);
}

input[type=radio]:checked + label span {
  border: 1px solid #d9d9d9;
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.103);
          box-shadow: 0 0 0px rgba(0, 0, 0, 0.103);
}

.block-radio label span {
  min-width: 25px;
  min-height: 25px;
  border-radius: 50px;
  border: 1px solid #d9d9d9;
  position: relative;
  cursor: pointer;
  display: block;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.103);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.103);
  background: white;
}

.block-radio label span::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgb(65, 128, 223);
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

input[type=radio]:checked + label span::after {
  width: 70%;
  height: 70%;
}

input[type=checkbox]:checked + label span svg {
  opacity: 1;
}

label span:hover {
  -webkit-box-shadow: 0 0 5px rgba(65, 128, 223, 0.493);
          box-shadow: 0 0 5px rgba(65, 128, 223, 0.493);
}

.block-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.label {
  font-size: 1em;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.block-check .label {
  gap: 15px;
}

.block-radio .label {
  gap: 10px;
}

.input {
  border: 1px solid #d9d9d9;
  background-color: #fff;
  height: 30px;
  padding: 0 0.625rem;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 1em;
}

.input#Zip {
  max-width: 70px;
}

input:focus {
  outline: none;
  border: 1px solid rgba(65, 128, 223, 0.61);
}

.block-sel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.form__item {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.form__item h3 {
  background: rgb(143, 185, 247);
  padding: 10px 50px;
  margin-left: -50px;
  margin-right: -50px;
  font-weight: 500;
  color: white;
}

.block-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 25px;
}

.block-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 20px;
}

.block-mix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.block-wireless {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.block-wireless label {
  gap: 17px;
}

.input-disabled {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.textarea {
  border: 1px solid #d9d9d9;
  resize: none;
  width: 100%;
  border-radius: 10px;
  height: 200px;
  padding: 15px;
}

.textarea:focus {
  outline: none;
}

.select-text .select {
  min-width: 200px !important;
}

.select-text .select .select__content {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.block-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.btn {
  padding: 10px 30px;
  font-size: 1.5em;
  border-radius: 10px;
  background-color: rgb(40, 145, 75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(26, 185, 79);
}

.btn:active {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.466), 0 0 0px rgba(0, 0, 0, 0.315);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.466), 0 0 0px rgba(0, 0, 0, 0.315);
  opacity: 1;
}

.btn:focus {
  outline: none;
}

.block-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50%;
  margin: 0 auto;
}

.block-buttons .btn:nth-child(2) {
  background-color: rgb(150, 150, 150);
}

.block-buttons .btn:nth-child(2):hover {
  background-color: rgb(194, 194, 194);
}

.input-disabled {
  pointer-events: none;
  opacity: 0.5;
  background-color: rgba(54, 42, 165, 0.075);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

._input-active {
  pointer-events: painted;
  opacity: 1;
  background-color: white;
}

.just-validate-error-field {
  border: 1px solid rgba(255, 0, 0, 0.678) !important;
  outline: 2px solid rgba(255, 0, 0, 0.205) !important;
}

.just-validate-success-field {
  border: 1px solid rgba(13, 100, 6, 0.678) !important;
  outline: 2px solid rgba(0, 201, 0, 0.418) !important;
}

.select {
  position: relative;
  max-height: 31px;
  min-height: 31px;
  min-width: 70px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1em;
  padding: 0 10px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.select:focus {
  outline: none;
  border: 1px solid rgba(65, 128, 223, 0.61);
}

.just-validate-error-field {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  left: 0 !important;
}

.form__contact:hover .just-validate-error-label {
  opacity: 0 !important;
  display: none !important;
}

.label-min-content {
  min-width: -webkit-max-content !important;
  min-width: -moz-max-content !important;
  min-width: max-content !important;
}

.form__contact i {
  margin-right: 5px;
  color: red;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

.radio-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.wrap-wireles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media (max-width: 1000px) {
  .form {
    padding: 20px;
    margin: 15px;
  }

  .form__item h3 {
    margin-right: -20px;
  }
}

@media (max-width: 991px) {
  .just-validate-error-label {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .block-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 15px;
  }

  .block-input .input {
    min-width: 100%;
  }

  .label {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }

  .block-sel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 15px;
  }

  .select {
    min-width: 100px !important;
  }

  .block-radio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .block-mix {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .block-radio.mb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    gap: 15px;
  }

  .block-colum {
    gap: 20px;
  }

  .textarea {
    height: 100px;
  }

  .block-buttons {
    max-width: 100%;
    gap: 10px;
  }

  .btn {
    font-size: 1.2em;
  }

  .block-wireless {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
  }

  .wrap-wireles {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  h2 {
    margin-bottom: 30px;
    text-align: center;
  }

  h1 {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .form__contact {
    gap: 10px;
    padding-bottom: 20px;
  }

  .form {
    margin: 10px;
  }

  h1 {
    font-size: 1.5em;
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid rgba(65, 128, 223, 0.589);
    max-width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    font-weight: 700;
  }

  h2 {
    font-size: 1.2em;
    margin-bottom: 30px;
    font-weight: 600;
    text-align: center;
  }

  .block-sel {
    min-width: 100% !important;
  }

  .select-text .select {
    min-width: 100% !important;
  }
}